body{
    background-color: rgb(69, 168, 110);    
    font: normal 15pt Arial;

}

header {
    color: rgb(53, 50, 50);
    text-align: center;
}

section {
    background-color: rgb(255, 254, 254);
    border-radius: 10PX;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 363);
}

footer {
    /* color: rgb(53, 50, 50); */
    color: white;
    text-align: center;
    font-style: italic;

}

#msg {
    text-align: center;
    padding-bottom: 2%;
}

h1 {
    color: white;
}